@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('https://image.ibb.co/n5A2HU/showcase.jpg') no-repeat center center / cover;
  color: #ccc;
  /* overflow:hidden; */
}

/* Header */
.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */
.navbar {
  display: flex;
  list-style: none;
}

.navbar a {
  text-decoration: none;   
  margin: 0;
  padding: 0;
  color: #ccc;
}

.navbar a:hover {
  text-decoration: underline
}

.navbar li {
  margin-left: 20px;
}

/* Main Body */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 0 3rem 250px;
}

.hero-link {
  margin-top: 40px;
  margin-left: 0.5rem;
}

.hero-link a {
  border: 1px solid #ccc;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #aaa
}

a .fas {
  margin-left: 10px;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

/* About me section */
.section-about-me {
  color: #333;
  background: #ccc;
  height: 100%;
  padding: 40px;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.brand-statement {
  width: 960px;
  margin:0 auto 40px;
}

h1 .section-title{
  padding: 50px auto;
  align-content: center;
}

.skills {
  display: flex;
  justify-content: center;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  padding: auto;
}

.icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 20px 10px;
}

.fab {
  font-size: 3.5rem;
}

/* Portfolio section */
.section-portfolio {
  background: #333;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
}

.section-title-portfolio {
  margin-bottom: 30px;
}

.section-portfolio-wrapper {
  width: 80%;
  margin: 0 auto;
}

.project-section-wrapper {
  margin: 5px 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.project-wrapper {
  display: flex;
  height: 100%;
}

.project-wrapper .left{
  text-align: right;
}

.project-wrapper .right{
  text-align: left;
}

.project-image {
  width: 40%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  width:60%;
  padding: 0 20px;
}

.project-description .left {
  text-align: right; 
}

.project-description .right {
  text-align: left; 
}

.project-icon>a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
}

a .fab {
  font-size: 1.2rem;
  color: #ccc;
  margin: 0 5px;
}

a .fas {
  font-size: 1.2rem;
  color: #ccc;
  margin:0 5px;
}

/* Contact Me Section */
.section-contact-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
  background: #ccc;
  height: 400px;
  padding: 20px 40px;
}

.section-title-contact-me {
  margin-bottom: 20px auto;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 30px 0;
  width: 100%;
}

.icons>.fab {
  font-size: 4rem;
  color: #333;
}

.icons>.fas {
  font-size: 4rem;
  color: #333;
}

/* Media Queries */
@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}